# Dependencias
node_modules/

# Builds
dist/
build/

# Archivos de entorno
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Otros
coverage/

# Archivos de video subidos
server/uploads/
*.mp4
*.avi
*.mov
*.mkv